<article>
  <header>
    <span class="container-icon">
      <img src="./assets/icons/communication.svg" alt="icon communication" />
    </span>
    <p class="alert">Lorem, ipsum dolor.</p>
  </header>

  <p class="message">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ea quo unde
    vel adipisci blanditiis voluptates eum. Nam, cum minima?
  </p>

  <footer>
    <p>
      <span class="material-symbols-rounded">calendar_today</span>
      <time datetime="2015-05-16 19:00">May 16</time>
    </p>

    <p>
      <span class="material-symbols-rounded">person</span>
      Lorem ipsum
    </p>

    <a class="mark-as-read" href="#">
      Learn More
      <span style="font-size: 1rem;" class="material-symbols-rounded">arrow_forward_ios</span>
    </a>
  </footer>
</article>
