<article>
  <header>
    <span class="container-icon">
      <img src="./assets/icons/communication.svg" alt="icon communication" />
    </span>
    <p class="alert">{{ title }}</p>
  </header>

  <section class="description">
    <p> {{ description }} </p>
  </section>

  <footer>
    <p>
      <span class="material-symbols-rounded">calendar_today</span>
      <time datetime="2015-05-16 19:00">{{ date | date: 'longDate' }}</time>
    </p>

    <p>
      <span class="material-symbols-rounded">person</span>
      {{ author }}
    </p>

    <a class="mark-as-read" href="https://angular.dev/guide/defer#defer" target="_blank" >
      Learn More
      <span style="font-size: 1rem;" class="material-symbols-rounded">arrow_forward_ios</span>
    </a>
  </footer>
</article>
